.hero-section {
  height: 100vh;
  background-image: url('https://plus.unsplash.com/premium_photo-1689596509741-f275e7f4b287?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px #ffae3c;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px #ee7373;
}

.hero-button {
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  background-color: orangered ;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(255, 87, 34, 0.5);
}

.hero-button:hover {
  background-color: #e64a19;
  transform: scale(1.05);
}
